<loading *ngIf="isLoading"></loading>
<div fxFlex.gt-sm="100%" class="container-fluid pt-5">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Subir archivos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="col-12">
                <button class="button-load" mat-raised-button color="primary" type="button"
                    (click)="fileInput.click()">
                    <mat-icon>newspaper</mat-icon>
                    <span> Seleccione los archivos</span>
                    <input #fileInput type="file" id="archivos" multiple (change)="onChangeFileInput($event)"
                        style="display:none;" />
                </button>

                <p class="file-name" id="fileName">Ningún archivo seleccionado.</p>
            </div>
            <br>
            <div class="col-12" *ngIf="isLoadFile">
                <button class="button-upload" mat-raised-button color="primary" type="button"
                    (click)="uploadFile()">
                    <mat-icon>publish</mat-icon>
                    <span> Subir archivo(s)</span>
                </button>

                <button class="button-restart ml-3" mat-raised-button color="primary" type="button"
                    (click)="resetData()">
                    <mat-icon>restart_alt</mat-icon>
                    <span> Reiniciar</span>
                </button>
            </div>
        </mat-card-content>

    </mat-card>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Lista de archivos                
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="empty-data mat-elevation-z8 mt-3" *ngIf="archivos.length == 0 && isLoaded">
                <br>
                <h3>Aún no has subido ningún archivo</h3>
                <br>
            </div>
            <div class="example-container mat-elevation-z8 mt-3" *ngIf="archivos.length > 0">
                <mat-table [dataSource]="archivos">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                        <mat-cell data-label="Nombre" *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ruta">
                        <mat-header-cell *matHeaderCellDef> Ruta </mat-header-cell>
                        <mat-cell data-label="Ruta" *matCellDef="let element"> {{element.pathFile}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                        <mat-cell data-label="Acciones" *matCellDef="let element">

                            <button mat-icon-button color="accent" matTooltip="Descargar" (click)="download(element.name)">
                                <mat-icon class="mat-18 material-icons color_green">download</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" matTooltip="Eliminar" (click)="openDialogDelete(element)">
                                <mat-icon class="mat-18 material-icons color_red">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>               
            </div>

        </mat-card-content>

    </mat-card>
</div>