<loading *ngIf="isLoading"></loading>


<div class="login-section-wrapper">

    <div class="login-wrapper my-auto" id="formulario">
        <form [formGroup]="userForm" (ngSubmit)="login()" novalidate>

            <div class="row">
                <div class="col-12">
                    <mat-form-field class="email" appearance="outline">
                        <mat-label>Ingresa tu email</mat-label>
                        <input matInput  placeholder="Email" type="email" required name="email" formControlName="email">

                        <mat-error *ngIf="f.email.errors?.required">
                            El email es requerido.
                        </mat-error>

                        <mat-error *ngIf="f.email.errors?.email">
                            Ingresa un email valido
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-12" style="margin-top: 15px">
                    <mat-form-field appearance="outline" class="password">
                        <mat-label>Ingresa tu contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="new-password"  placeholder="Contraseña" required name="password" formControlName="password">
                        <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f.password.errors?.required">
                            Contraseña es requerida.
                        </mat-error>
                      </mat-form-field>
                </div>
                <br>
                <div class="col-12">
                    <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Iniciar Sesión">
                </div>

            </div>

        </form>

    </div>
</div>

<mat-toolbar class="footer">
    <p class="footer_span">Usuario de prueba: test@test.com  <br> contraseña: test</p>
  </mat-toolbar>