ul {
    list-style-type: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aeb9bd;
    color: white;
    text-align: center !important;
 }

 .footer_span{
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: medium;
 }
::ng-deep .mat-form-field-label{
    color: #028ee1 !important;
}


.login-section-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /* padding: 68px 100px; */
    background-color: transparent;
    /* max-height: 90vh; */
     position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
    .login-section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 575px) {
    .login-section-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 90vh;
    }
}

.login-wrapper {
    width: auto;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (max-width: 575px) {
    .login-wrapper {
        width: 100%;
    }
}

.login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad;
}

.login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal;
}

.login-wrapper .form-control::-webkit-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::-moz-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control:-ms-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::-ms-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::placeholder {
    color: #b0adad;
}

.login-wrapper a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 54px;
}

@media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
        margin-bottom: 16px;
    }
}

.login-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}
.login-btn {
    padding: 13px 20px;
    background-color: rgb(40, 115, 117);
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
    margin-top: 6px;
    border-radius: 85px !important;
}

.login-btn:hover {
    border: 1px solid rgb(4, 179, 155) !important;
    background-color: rgb(4, 179, 155) !important;
    color: black !important;
}
